<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Email</th>
      <th colspan="2" class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
