<h1>About Blocipedia</h1>
<div class="row">
  <div class="col-md-8">
    <p class="lead">Blocipedia is a site similar to Wikipedia.</p>
    <p> This is a project I am using to learn Ruby on Rails.</p>
  </div>
  <div class="col-md-4">
    <%= image_tag "http://gravatar.com/avatar/b0498e3637bbc8e1c6005c25a86c9bc3.png?s=100" %>
    <button type="button" class='btn btn-info'><%= link_to "Follow me on GitHub", "https://github.com/mharr171" %></button>

  </div>
</div>
