<div class="jumbotron">
  <% if current_user %>
    <h1 class="display-3">Welcome back to Blocipedia</h1>
  <% else %>
    <h1 class="display-3">Welcome to Blocipedia</h1>
  <% end %>
  <p class="lead">Blocipedia is a site similar to Wikipedia.</p>
  <hr class="my-4">
  <p> This is a project I am using to learn Ruby on Rails.</p>
  <p class="lead">
    <%= link_to "Learn More", about_path(@wiki), class: 'btn btn-primary btn-lg' %>
    <% if current_user %>
    <% else %>
      <%= link_to "Join Today", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </p>
</div>
