<li><%= collaborators.user.name %>
  <span style='float:left; margin-right: 10px;'>
    <%= link_to wiki_collaborator_path(@wiki,collaborators), class:'x-collab',method: :delete, data: {confirm: 'This will remove this collaborator. Would you like to continue?'} do %>
      <i class="far fa-times-circle"></i>
    <% end %>
  </span>
</li>
