  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki %>
      </h4>
      <small>
        <%= remove_markdown( (truncate wiki.body, length: 140) ) %>
      </small>
    </div>
  </div>
