<% if ( wiki.private == false ) || ( policy(User).admin? || policy(User).premium? ) %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki %>
      </h4>
      <small>
        <% if wiki.private == false %>
          <%= truncate wiki.body, length: 244 %>
        <% else %>
          <p>PRIVATE CONTENT.</p>
        <% end %>
      </small>
    </div>
  </div>
<% end %>
